

    <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInUp">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- carousel items -->
                        <div class="carousel-inner">
                            <!-- slide -->
                            <% if false %>
                            <div class="active item slide1">
                                <div class="row">
                                    <div class="span6">
                                        <img src="assets/slide1.png" alt="slide1" />
                                    </div>
                                    <div class="span4">
                                        <h1>
                                            Responsive and Clean Wrapbootstrap Theme
                                        </h1>
                                        <p>
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look.
                                        </p>
                                        <a href="signup.html" class="btn btn-success btn-large">
                                            Get Measure Now!
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="item slide2">
                                <div class="row">
                                    <div class="span4 animated fadeInUpBig">
                                        <h1>Fully responsive blog template</h1>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                        <a href="blog.html" class="btn btn-success btn-large">
                                            Watch it now!
                                        </a>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="assets/slide2.png" alt="slide2" />
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <!-- slide -->
                            <div class="active item slide3 animated fadeInUpBig">
                                <img src="assets/Product1.png" alt="slide1" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product2.png" alt="slide2" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product3.png" alt="slide3" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product4.png" alt="slide4" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product5.png" alt="slide5" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product6.png" alt="slide6" />
                            </div>
                            <div class="item slide3 animated fadeInUpBig">
                                <img src="assets/Product7.png" alt="slide7" />
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="intro">
        <div class="container">
            <h1>“Her journey of Motherhood begins at childbirth”.<br/>
            	At Akruti Products, we believe, “In the post delivery days a mother needs extra care and protection”.</h1>
        </div>
    </div>

	<%=render '/layouts/company_motto' %>
	<%=render '/layouts/maternity_pads' %>
	<%=render '/layouts/event_gallery' %>	
	
	<%=render '/layouts/testimonials' %>
	<%=render '/layouts/product_availability' %>
	<%=render '/layouts/upcoming_products' %>

